<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

    

    <select id="login" resultType="org.example.entity.User">
        SELECT * FROM wander.user WHERE UserName = #{userName} AND UserPassword = #{userPassword}
    </select>

    <select id="create" parameterType="org.example.entity.User">
        INSERT INTO wander.user (UserName, UserPassword, VIP,Icon) VALUES (#{userName}, #{userPassword},0,"")
    </select>

    <select id="countUserName" resultType="int">
        SELECT COUNT(*) FROM wander.user WHERE UserName = #{userName}
    </select>
    <update id="change">
        UPDATE wander.user
        SET UserPassword = #{pw}
        WHERE UserName = #{userName} AND UserPassword = #{userPassword}
    </update>
    <update id="addIcon">
        UPDATE wander.user
        SET Icon = #{icon}
        WHERE UserName = #{userName}
    </update>
</mapper>